<!-- NAVIGATION BAR -->
<!-- ====================== -->

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <form class="navbar-form navbar-left" id="tripForm">
                <span class="glyphicon glyphicon-search"></span>
                <input type="text" class="form-control city" placeholder="City..." id="field" name="city">
                <span class="glyphicon glyphicon-search"></span>
                <input type="text" class="form-control state" placeholder="State..." id="field" name="state">
                <span class="glyphicon glyphicon-calendar"></span>
                <input type="text" class="form-control date" placeholder="Date..." id="field" name="date">
                <button type="submit" class="btn btn-default submitButton">Submit</button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- FIRST ROW -->
<!-- ====================== -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>{{userName}}'s Trip Dashboard</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Search History</h3>
                </div>
                <div class="panel-body history">

                    {{#each searchHistory}}

                        <p><button data-searchid="{{this.id}}" class="searchButton">{{this.city}}, {{this.state}}</button>
                            <button data-deleteid="{{this.id}}" class="btn btn-sm deleteButton glyphicon glyphicon-trash"></button>
                        </p>


                    {{/each}}


                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">


                    <div class="col-md-4" id="left">
                        <div class="row">
                            <p class="destination">{{lastSearch.city}}, {{lastSearch.state}}
                            </p>
                        </div>
                        <div class="row">
                            <p class="image"><img src="{{lastSearch.image}}" width="200" height="200">
                            </p>
                        </div>
                    </div>


                    <div class="col-md-8" id="right">
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p>Current Weather</p>

                                    <p class="currentWeather">

                                        {{lastSearch.todayDate}}
                                        <br>
                                        <strong>High: </strong>{{lastSearch.todayHigh}} |
                                        <strong>Low: </strong>{{lastSearch.todayLow}} |
                                        <strong>Conditions: </strong>{{lastSearch.todayConds}}

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p>Weather History</p>
                                    <p class="weatherHistory">


                                        <strong>Year: </strong> 2005 |
                                        <strong>Temperature: </strong>{{lastSearch.temp05}} |
                                        <strong>Humidity: </strong>{{lastSearch.hum05}} |
                                        <strong>Conditions: </strong>{{lastSearch.conds05}}

                                        <br>

                                        <strong>Year: </strong> 2010 |
                                        <strong>Temperature: </strong>{{lastSearch.temp10}} |
                                        <strong>Humidity: </strong>{{lastSearch.hum10}} |
                                        <strong>Conditions: </strong>{{lastSearch.conds10}}

                                        <br>

                                        <strong>Year: </strong> 2015 |
                                        <strong>Temperature: </strong>{{lastSearch.temp15}} |
                                        <strong>Humidity: </strong>{{lastSearch.hum15}} |
                                        <strong>Conditions: </strong>{{lastSearch.conds15}}
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <!-- SECOND ROW -->
    <!-- ====================== -->
    <div class="row" id="adBox">

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    Airbnb<br>
                    <a href="https://www.airbnb.com/" target="_blank"><img src="/images/airbnb.png" width="auto" height="120"></a>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    Hostelworld<br>
                    <a href="https://www.hostelworld.com/" target="_blank"><img src="/images/hostelworld.png" width="auto" height="120"></a>
                </div>
            </div>
        </div>


        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    SkyScanner<br>
                    <a href="https://www.skyscanner.com/" target="_blank"><img src="/images/skyscanner.png" width="auto" height="120"></a>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    Currency Converter<br>
                    <a href="http://www.xe.com/currencyconverter/" target="_blank"><img src="/images/xe.png" width="auto" height="120"></a>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    TripAdvisor<br>
                    <a href="https://www.tripadvisor.com/" target="_blank"><img src="/images/tripadvisor.jpg" width="auto" height="120"></a>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    USA National Parks<br>
                    <a href="https://www.nps.gov/findapark/index.htm" target="_blank"><img src="/images/nps.png" width="auto" height="120"></a>
                </div>
            </div>
        </div>

    </div>

</div>

<script type="text/javascript">
    $(document).on("submit", "#tripForm", function(event) {
        event.preventDefault();

        var loc = {
            city: $(".city").val().trim(),
            state: $(".state").val().trim(),
            date: $(".date").val().trim()
        };

        $.ajax({
            type: "POST",
            url: "/api/newSearch",
            data: loc
        }).done(function(data) {
            location.reload();
        });
    });

    $(document).on("click", ".searchButton", function() {
        var id = $(this).data("searchid");
        console.log("we are clicking");
        $.ajax({
            type: "POST",
            url: "/results/priorsearch/" + id,
        }).done(function() {
            location.reload();
        });
    });

    $(document).on("click", ".deleteButton", function() {
        var id = $(this).data("deleteid");

        $.ajax({
            type: "DELETE",
            url: "/results/delete/" + id
        }).done(function() {
            location.reload();
        });
    });
</script>
