<!-- NAVIGATION BAR -->
<!-- ====================== -->

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <form class="navbar-form navbar-left" id="tripForm">
                <span class="glyphicon glyphicon-search" id="dashglyph"></span>
                <input type="text" class="form-control city" placeholder="City..." id="field" name="city">

                <span class="glyphicon glyphicon-search"></span>
                <input type="text" class="form-control state" placeholder="State..." id="field" name="state">

                <span class="glyphicon glyphicon-calendar"></span>{{!--<input type="text" class="form-control date" placeholder="Date..." id="field" name="date">--}}
                <select class="form-control date" id="field" name="date">
                                <option value="01">January</option>
                                <option value="02">February</option>
                                <option value="03">March</option>
                                <option value="04">April</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">August</option>
                                <option value="09">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>

                <button type="submit" class="btn btn-default submitButton">Submit</button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- FIRST ROW -->
<!-- ====================== -->
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Search History</h3>
                </div>
                <div class="panel-body history">

                    {{#each searchHistory}}

                        <p>{{this.city}}
                            <button data-deleteid="{{this.id}}" class="btn btn-sm deleteButton">XXX</button>
                        </p>


                    {{/each}}


                </div>
            </div>
        </div>

        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">


                    <div class="col-md-4" id="left">
                        <div class="row">
                            <p class="destination">{{lastSearch.city}} {{lastSearch.state}}
                            </p>
                        </div>
                        <div class="row">
                            <p class="image"><img src="{{lastSearch.image}}" width="200" height="200">
                            </p>
                        </div>
                    </div>


                    <div class="col-md-8" id="right">
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p class="currentWeatherTitle">Current Weather</p>

                                    <p class="currentWeather">

                                        {{lastSearch.todayDate}}
                                        <br>
                                        <strong>High: </strong>{{lastSearch.todayHigh}} |
                                        <strong>Low: </strong>{{lastSearch.todayLow}} |
                                        <strong>Conditions: </strong>{{lastSearch.todayConds}}

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p class="weatherHistoryTitle">Weather History</p>
                                    <p class="weatherHistory">
                                        {{!--<strong>Year: </strong> 2005 |--}}
                                        {{!--<strong>Temperature: </strong>{{lastSearch.temp05}} |--}}
                                        {{!--<strong>Humidity: </strong>{{lastSearch.hum05}} |--}}
                                        {{!--<strong>Conditions: </strong>{{lastSearch.conds05}}--}}

                                        {{!--<br>--}}

                                        {{!--<strong>Year: </strong> 2010 |--}}
                                        {{!--<strong>Temperature: </strong>{{lastSearch.temp10}} |--}}
                                        {{!--<strong>Humidity: </strong>{{lastSearch.hum10}} |--}}
                                        {{!--<strong>Conditions: </strong>{{lastSearch.conds10}}--}}

                                        {{!--<br>--}}

                                        {{!--<strong>Year: </strong> 2015 |--}}
                                        {{!--<strong>Temperature: </strong>{{lastSearch.temp15}} |--}}
                                        {{!--<strong>Humidity: </strong>{{lastSearch.hum15}} |--}}
                                        {{!--<strong>Conditions: </strong>{{lastSearch.conds15}}--}}
                                    </p>

                                    <table class="table">
                                        <tr>
                                            <th>Year</th>
                                            <th>Temperature</th>
                                            <th>Humidity</th>
                                            <th>Conditions</th>
                                        </tr>
                                        <tr>
                                            <td>2005</td>
                                            <td>{{lastSearch.temp05}}</td>
                                            <td>{{lastSearch.hum05}}</td>
                                            <td>{{lastSearch.conds05}}</td>
                                        </tr>
                                        <tr>
                                            <td>2010</td>
                                            <td>{{lastSearch.temp10}}</td>
                                            <td>{{lastSearch.hum10}}</td>
                                            <td>{{lastSearch.conds10}}</td>
                                        </tr>
                                        <tr>
                                            <td>2015</td>
                                            <td>{{lastSearch.temp15}}</td>
                                            <td>{{lastSearch.hum15}}</td>
                                            <td>{{lastSearch.conds15}}</td>
                                        </tr>
                                    </table>


                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <!-- SECOND ROW -->
    <!-- ====================== -->
    <div class="row" id="adBox">

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    Airbnb<br>
                    <a href="https://www.airbnb.com/" target="_blank"><img src="/images/airbnb.png" width="auto" height="120"></a>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    Hostelworld<br>
                    <a href="https://www.hostelworld.com/" target="_blank"><img src="/images/hostelworld.png" width="auto" height="120"></a>
                </div>
            </div>
        </div>


        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    SkyScanner<br>
                    <a href="https://www.skyscanner.com/" target="_blank"><img src="/images/skyscanner.png" width="auto" height="120"></a>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    Currency Converter<br>
                    <a href="http://www.xe.com/currencyconverter/" target="_blank"><img src="/images/xe.png" width="auto" height="120"></a>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    TripAdvisor<br>
                    <a href="https://www.tripadvisor.com/" target="_blank"><img src="/images/tripadvisor.jpg" width="auto" height="120"></a>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    USA National Parks<br>
                    <a href="https://www.nps.gov/findapark/index.htm" target="_blank"><img src="/images/nps.png" width="auto" height="120"></a>
                </div>
            </div>
        </div>

    </div>

</div>

<script type="text/javascript">
    $(document).on("submit", "#tripForm", function(event) {
        event.preventDefault();

        var loc = {
            city: $(".city").val().trim(),
            state: $(".state").val().trim(),
            date: $(".date").val().trim()
        };

        $.ajax({
            type: "POST",
            url: "/api/newSearch",
            data: loc
        }).done(function(data) {
            location.reload();
        });
    });


    $(document).on("click", ".deleteButton", function() {
        var id = $(this).data("deleteid");

        $.ajax({
            type: "DELETE",
            url: "/results/delete/" + id
        }).done(function() {
            location.reload();
        });
    });
</script>
